body{
    background-color: #B9C7C5; 
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cards{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.card{
background-color: #6F9E97;
border: 1px solid;
border-color: #6F9E97;
border-radius: 10px;
margin: 10px;
padding: 10px;
width: 220px;
transition: all 300ms ease-in-out;
font-family: 'Crimson Pro', serif;
}

.card:hover{
    background-color: #8ebeb8; transition: 1s ease-in-out;
    transform: scale(1.2);
    box-shadow: 2px 2px 5px gray;
    transition: background-color 500ms ease-in-out, transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

img{
    background-color: white;
}

.btn-primary{
    margin: 5px;
    background-color: #1A4741;
    border-color: #1A4741;
}

.btn-primary:hover{
    background-color: #256159;
    border-color: #256159;
}

h3{
    margin: 5px;
}

h2{
    margin: 5px;
}

.card-link{
    text-decoration: none;
    color: inherit;
    display: block;
    
}

.carousel-container{
    max-width: 90%; 
    margin: auto;
    margin-top: 40px; 
    position: relative;
}

.carousel-item{
    position: relative;
}

.carousel-item img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.carousel-inner{
    display: flex;
    width: 100%;
    max-height: 500px; 
    overflow: hidden; 
}

.texto{
margin: 15px;
padding: 20px;
text-align: center;
}

.parent{
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: repeat(3, minmax(150px, 1fr)); 
    gap: 8px; 
    width: 100%;
    padding: 20px;
    max-width: 1100px; 
    margin: 0 auto; 
    background-color: #B9C7C5; 
    box-sizing: border-box;
}

.div1{
    grid-column: 1 / 2; 
    grid-row: 1 / 4;
    height: 700px;
}

.div2, .div3, .div4 {
    grid-column: 2 / 3;
    height: 228.5px;
    overflow: hidden;
    position: relative; 
    border-radius: 10px;
}


.div2{
    grid-row: 1 / 2; 
}

.div3{
    grid-row: 2 / 3;
}

.div4{
    grid-row: 3 / 4; 
}

.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;

}

.carousel-item:hover .overlay,
.div1:hover .overlay,
.div2:hover .overlay,
.div3:hover .overlay,
.div4:hover .overlay {
    opacity: 1;
}

.div1, .div2, .div3, .div4{
    position: relative;
}

.overlay h3 {
    margin: 0;
}

.overlay span {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 5px;
    max-width: 70%;
}

.fa-home{
    margin: 10px;
    font-size: 20px;
}

.fa-user-group{
    margin: 10px;
    font-size: 15px;
}

.fa-phone{
    margin: 10px;
    font-size: 15px;
}

.fa-list{
    margin: 10px;
    font-size: 15px;
}

.btn-outline-success{
    padding-left: 50px;
}

.btn-outline-success {
    padding-left: 10px; 
}



.fas.fa-search {
    margin-left: 0;
}



.texto-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    line-height: 1.5;
}

.texto-overlay span {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    transform: scaleY(1.4);
}




#descuento {
    font-size: 80px;
    
}

